.gpt3__header {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.gpt3__header-content{
    display: flex;
    flex-direction: column;
    width: 55%;
    
}
.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: -0.04em;
}
.gpt3__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1rem;
}
.gpt3__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}
.gpt3__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.gpt3__header-content__input button {
    flex: 0.9;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #FF4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.gpt3__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}
.gpt3__header-content__people img {
    width: 181.79px;
    height: 38px;
}
.gpt3__header-content__people p {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}
.gpt3__header-image {
    width: 50%;
}


.gpt3__header-image img {
    width: 100%;
    height: 100%;
}